@page
@model RazorWebUI.Areas.ITrainings.Pages.Admin.TestModel



@{
    string title = $"PRETEST AND POSTTEST FOR {Model.Training.TrainingCategory.Abbreviation} HELD AT {Model.Training.Address} ON ({Model.Training.StartDate.ToString("dd MMM")} - {Model.Training.EndDate.ToString("dd MMM, yyyy")})";

    ViewData["Title"] = title;
}
 <style>
    @@media print {
        body {
            -webkit-print-color-adjust: exact;
        }

        #printableArea {
            page-break-inside: avoid;
        }

        table {
            page-break-inside: auto;
            border-collapse: collapse;
            width: 100%;
        }

        thead {
            display: table-header-group;
        }

        tfoot {
            display: table-footer-group;
        }

        tr {
            page-break-inside: avoid;
            page-break-after: auto;
        }

        td, th {
            page-break-inside: avoid;
            page-break-after: auto;
        }

        .card-header, .table-responsive {
            page-break-inside: avoid;
        }

        .keep-together {
            page-break-inside: avoid;
            page-break-after: auto;
        }

        a.btn {
            display: none; /* Hide buttons on print */
        }

        .bg-primary {
            background-color: #007bff !important; /* Ensure this matches your bg-primary color */
            -webkit-print-color-adjust: exact;
        }
    }

    @@media print {
        /* Hide the comprehensive report header after the first page */
        .print-only-first-page {
            display: table-header-group;
        }
            /* Ensure the header only shows on the first page */
            .print-only-first-page + thead {
                display: none;
            }
        /* Ensure the next page-specific theads (Facilitators, Participants) are visible */
        thead {
            display: table-header-group;
        }
    }
</style>


<div class="row">
    <div class="col-lg-12">
        <div class="card keep-together">


            <div class="card-body">
                <div class="">

                    <div class="table-responsive">
                        <table class="table table-bordered table-striped" style="border-top:2px solid black;">

                            <thead>
                                <tr>
                                    <th colspan="6" style="text-transform:uppercase;">@title</th>
                                     
                                </tr>
                            </thead>
                            <thead>
                                <tr>
                                    <th>S/N</th>
                                    <th>NAME</th>
                                    <th>GENDER</th>
                                    <th>PLACE OF WORK</th>
                                    <th>PRETEST</th>
                                    <th>POSTTEST</th>
                                </tr>
                            </thead>

                            <tbody>
                                @{ int xmsn = 0;

                                    int preTestOver70 = 0;
                                    int preTestBelow70 = 0;
                                    int postTestOver70 = 0;
                                    int postTestBelow70 = 0;

                                }
                                @foreach (var item in Model.UserTest.OrderByDescending(x =>
string.IsNullOrEmpty(x.PostTestScore) ? 0 : Convert.ToInt32(x.PostTestScore.Replace("%", "").Trim())))
                                {

                                    string scoreclass = "";
                                    int score = 0; // Default score value
                                    string rawscore = item.PostTestScore.Replace("%", "");
                                    if (!string.IsNullOrEmpty(rawscore))
                                    {
                                        score = Convert.ToInt32(rawscore);
                                    }

                                    if (score < 69)
                                    {
                                        scoreclass = "color:darkred;";
                                    }

                                    <tr class="" style="@scoreclass">
                                        <td>
                                            @{xmsn++; }
                                            @xmsn
                                        </td>
                                        <td style="text-transform:uppercase;">@item.User.FullnameX</td>
                                        <td style="text-transform:uppercase;">
                                            @Html.DisplayFor(modelItem => item.User.Gender)
                                        </td>
                                        <td style="text-transform:uppercase;">
                                            @Html.DisplayFor(modelItem => item.User.PlaceOfWork)
                                        </td>
                                        <td>
                                            @if (item.PreTestTaken == false)
                                            {
                                                <a asp-page="/Account/Result" class="btn btn-warning" asp-route-tid="@Model.Training.Id" asp-route-userId="@item.UserId" asp-route-xty="0">
                                                    <span>Not Taken</span>
                                                </a>
                                            }
                                            else
                                            {
                                                int preTestScore = Convert.ToInt32(item.PreTestScore.Replace("%", ""));

                                                if (preTestScore > 69)
                                                {
                                                    preTestOver70++;
                                                }
                                                else
                                                {
                                                    preTestBelow70++;
                                                }
                                                @item.PreTestScore
                                                <a asp-page="/Account/Result" class="btn btn-primary" asp-route-tid="@Model.Training.Id" asp-route-userId="@item.UserId" asp-route-xty="0">
                                                    View
                                                </a>
                                            }
                                        </td>

                                        <td>
                                            @if (item.PostTestTaken == false)
                                            {
                                                <a asp-page="/Account/Result" class="btn btn-warning" asp-route-tid="@Model.Training.Id" asp-route-userId="@item.UserId" asp-route-xty="2">
                                                    <span>Not Taken</span>
                                                </a>
                                            }
                                            else
                                            {
                                                int postTestScore = Convert.ToInt32(item.PostTestScore.Replace("%", ""));

                                                if (postTestScore > 69)
                                                {
                                                    postTestOver70++;
                                                }
                                                else
                                                {
                                                    postTestBelow70++;
                                                }
                                                @item.PostTestScore
                                                <a asp-page="/Account/Result" class="btn btn-primary" asp-route-tid="@Model.Training.Id" asp-route-userId="@item.UserId" asp-route-xty="2">
                                                    View
                                                </a>
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                            <tbody>

                                <tr>
                                    <td colspan="4">
                                        TOTAL
                                    </td>
                                    <td style="text-transform:uppercase;">
                                        
                                    </td>
                                    <td style="text-transform:uppercase;">
                                        Over 70: @postTestOver70 / Below 70: @postTestBelow70
                                    </td>
                                </tr>

                            </tbody>


                        </table>
                    </div>



                </div>
            </div>
            <a class="btn bg-gradient-primary btn-sm" style="float:right; margin-right: 10px;" onclick="printReport()">Print Report</a>

        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        string titlex = $"COMPREHENSIVE PRETEST AND POSTTEST REPORT FOR MIYCN";
        string mxtitle = titlex.ToUpper();
    }

    <script>
        function printSection(sectionId) {
            var originalContents = document.body.innerHTML;
            var printContents = document.getElementById(sectionId).innerHTML;
            document.body.innerHTML = printContents;
            window.print();
            document.body.innerHTML = originalContents;
            location.reload(); // Reload to restore original contents
        }

        function printReport() {

            // Save the original title
            var originalTitle = document.title;

            // Set a new title for printing
            document.title = mxtitle;
            ;

            // Trigger the print dialog
            window.print();

            // Restore the original title after printing
            document.title = originalTitle;
        }
    </script>
}

