@page
@model RazorWebUI.Areas.ITrainings.Pages.Admin.ViewSuperisorReportModel
@{
}
<div class="card mb-4">



    <div class="card-header">
        <h3 class="card-title">
            @Model.Training.Title ( @Model.Training.StartDate.ToString("ddd dd MMM, yyyy") -
            @Model.Training.EndDate.ToString("ddd dd MMM, yyyy"))
        </h3>
    </div>


    @{
        var alphabet = "BCDEFGHIJKLMNOPQRSTUVWXYZ";
        int sectionIndex = 0;
    }
    <div class="card-header">
        <h4>(SECTION A) SUPERVISOR INFOMATION</h4>
         
    </div>
    <div class="card-body">
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <th>Name</th>
                    <td>@Model.FullProfileDto.FullnameX</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>@Model.FullProfileDto.Email</td>
                </tr>
                <tr>
                    <th>Phone Number</th>
                    <td>@Model.FullProfileDto.PhoneNumber</td>
                </tr>

            </tbody>
        </table>
    </div>
    @foreach (var item in Model.Section.OrderBy(s => s.SortOrder))
    {
        <div class="">

            <div class="card-header">
                <h4>(SECTION @alphabet[sectionIndex]) @item.Title</h4>
                <p>@item.Instruction</p>
                @{
                    sectionIndex++;
                }
            </div>
            <div class="card-body">
                @if (!item.EnableNames)
                {
                    int qsn = 0;
                    @foreach (var question in item.SupervisorSectionQuestion.OrderBy(q => q.SortOrder))
                    {
                        <div class="mb-3" style="border-bottom:2px solid #3c3c3c;padding-bottom:4px !important;">
                            <div class="row">
                                <div class="col-md-6">
                                    @{ qsn++; }
                                    <label>@item.QuestionTitle</label>
                                    <p class="form-control-plaintext" style="padding-left: 0; border: 1px solid transparent; background-color: transparent;">
                                        (@qsn) @question.Question
                                    </p>
                                </div>
                                <div class="col-md-6">
                                    <label>@item.AnswerTypeTitle</label>
                                    <p class="form-control-plaintext">
                                        @(Model.UserResponses.ContainsKey(question.Id) ? Model.UserResponses[question.Id].Answer : "No response")
                                    </p>
                                </div>

                                @if (item.EnableRemark)
                                {
                                    <div class="col-md-4">
                                        <label>@item.RemarkTitle</label>
                                        <p class="form-control-plaintext">
                                            @(Model.UserResponses.ContainsKey(question.Id) ? Model.UserResponses[question.Id].Remark : "No remark")
                                        </p>
                                    </div>
                                }
                            </div>
                        </div>
                    }
                }
                else
                {
                    int snx = 0;
                    @foreach (var question in item.SupervisorSectionQuestion.OrderBy(q => q.SortOrder))
                    {
                        snx++;
                        <div class="row" style="margin-bottom:4px;">
                            <div class="col-md-3">
                                <label>(@snx) @item.ColumnOne</label>
                                <p class="form-control-plaintext">
                                    @(Model.UserResponses.ContainsKey(question.Id) ? Model.UserResponses[question.Id].ColumnOne : "No response")
                                </p>
                            </div>
                            <div class="col-md-3">
                                <label>@item.ColumnTwo</label>
                                <p class="form-control-plaintext">
                                    @(Model.UserResponses.ContainsKey(question.Id) ? Model.UserResponses[question.Id].ColumnTwo : "No response")
                                </p>
                            </div>
                            <div class="col-md-3">
                                <label>@item.ColumnThree</label>
                                <p class="form-control-plaintext">
                                    @(Model.UserResponses.ContainsKey(question.Id) ? Model.UserResponses[question.Id].ColumnThree : "No response")
                                </p>
                            </div>
                            <div class="col-md-3">
                                <label>@item.ColumnFour</label>
                                <p class="form-control-plaintext">
                                    @(Model.UserResponses.ContainsKey(question.Id) ? Model.UserResponses[question.Id].ColumnFour : "No response")
                                </p>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    }
</div>